@using Microsoft.AspNetCore.Http;

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_MyLayout</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>

    <form action="~/Hotel/HotelSearch" method="post">
        <nav class="navbar navbar-light bg-light">
            <div class="container">
                <div class="col-md-2">
                    <a href="~/Hotel" class="btn btn-outline-info btn-block btn-lg">Ana Sayfa</a>
                </div>
                <div class="col-md-4">
                    <h3><span class="badge badge-secondary">Başlangıç Tarihi</span></h3>
                    <input name="startDate" type="date" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                </div>
                <div class="col-md-2">
                    <button class="btn btn-outline-success btn-block btn-lg" type="submit">Hotel Ara</button>
                </div>

                @if (Context.Session.GetString("User") != null)
                {
                    <div class="col-md-2">
                        Hoşgeldin: @Context.Session.GetString("User")
                    </div>
                    <div class="col-md-2">
                        <a href="~/User/LogOut" class="btn btn-outline-danger btn-block btn-lg">Çıkış Yap</a>
                    </div>
                }
                else
                {
                    <div class="col-md-2">
                        <a href="~/User/Login" class="btn btn-outline-info btn-block btn-lg">Giriş Yap</a>
                    </div>
                    <div class="col-md-2">
                        <a href="~/User/SignUp" class="btn btn-outline-secondary btn-block btn-lg">Kayıt Ol</a>
                    </div>
                }

            </div>
        </nav>
    </form>

    <div>@RenderBody()</div>

</body>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

</html>
